.courses {
    padding: 20px;
    background-color: #f5f5f5;
  }
  

  .title {
    text-align: center;
    color: #fff; /* Title color */
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 30px;
    position: relative; /* Position relative for z-index context */
    z-index: 2; /* Ensure title is above the background */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Creates a black outline effect */
}

  
  .course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .course-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .course-name {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .course-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .course-duration, .course-eligibility {
    font-size: 0.9rem;
    color: #666;
  }

  .courses-container {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210909/pngtree-real-shots-of-empty-classrooms-on-campus-image_834801.jpg');
    padding: 70px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
